build --digest_function=SHA256
# ENGFLOW_ENDPOINT: an EngFlow gRPC endpoint, e.g. grpcs://cluster.engflow.com
# ENGFLOW_CERTIFICATE: path to a PEM client certificate
build --remote_executor=$ENGFLOW_ENDPOINT
build --tls_client_certificate=$ENGFLOW_CERTIFICATE
build --extra_execution_platforms=root//platforms:platforms
